.main {
    padding: 7px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #d5d5d570;
}

.form {
    & > * {
        line-height: 1.5;   
        padding: 7px 0;
        width: 100%;
        @include mixins.adaptiv-font (20, 14);
        &::placeholder {
            color: #aaa;
            @include mixins.adaptiv-font (20, 14);
        }
    }

    & input {
        background-color: transparent;
        border-bottom: 2px solid #d6d6d6;
    }
}


.actions {
    flex: 0 1 70px;
    display: flex;
    align-items: center;

    display: flex;
    align-items: center;
    justify-content: space-between;

    // @media (max-width: 379.98px) {
    //     justify-content: center;
    //     flex-wrap: wrap;
    //     text-align: center;
    //     gap: 10px;
    //     & > * {
    //         flex: 1 1 100%;
    //     }
    // }

        &__wrap {
            display: flex;
            align-items: center;
            gap: 20px;
            // @media (max-width: 379.98px) {
            //     gap: 0;
            //     justify-content: space-between;
            // }
            @media (max-width: 379.98px) {
                gap: 5px;
            }
        }

		&__change {
            display: flex;
            gap: 10px; 
            @media (max-width: 379.98px) {
                gap: 5px;
            }
		}

		&__act {
            background-color: transparent;
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
            &:hover {
                transform: scale(1.1);
            }
		}
}
